.screen {
  width: 360px;
  display: flex;
  /*border: 2px solid rgba(8, 8, 35, 0.864);*/
  height: 580px;
  /*border-radius: 1rem;*/
  background-color: rgb(var(--primary-rgb) / 15%);
  overflow: hidden;
  position: relative;
  z-index: 10;
  clip-path: polygon(
    0% 4%,
    7% 0%,
    30% 0%,
    34% 1.5%,
    66% 1.5%,
    70% 0%,
    93% 0%,
    100% 4%,
    100% 96%,
    93% 100%,
    70% 100%,
    66% 98.5%,
    34% 98.5%,
    30% 100%,
    7% 100%,
    0% 96%
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  /*box-shadow: 0 0 2px rgba(6, 6, 38, 0.914), 0 0 2rem rgba(144, 144, 203, 0.25),
    0 0 3rem rgba(144, 144, 203, 0.25);*/
}

.screen:before {
  width: 15%;
  top: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.screen:after {
  width: 25%;
  bottom: 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}

.screen-overlay {
  background: linear-gradient(
    rgb(var(--primary-rgb) / 0.05),
    rgb(var(--primary-rgb) / 0.05) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
  height: 100%;
  width: 100%;
  animation: pan-overlay 22s infinite linear;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
}

@keyframes pan-image {
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }

  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }

  20.0001% {
    /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 500%;
  }

  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }

  40.0001% {
    /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }

  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }

  60.0001% {
    /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }

  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }

  80.0001% {
    /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }

  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}

.screen > .screen-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-size: 300%;
  background-position: 0% 0%;
  filter: sepia(100%) hue-rotate(160deg);
  opacity: 0.8;
  animation: pan-image 15s linear infinite;
}

.screen > .screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 4rem;
  position: relative;
  z-index: 3;
  margin: 1rem;
  padding-bottom: 6rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
}

.screen > .screen-content > .screen-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.screen > .screen-content > .screen-user:before {
  height: 2px;
  width: 50px;
  translate: -20px -1rem;
  opacity: 0.75;
}

.screen > .screen-content > .screen-user > :is(.name, .link) {
  font-family: "Source Code Pro", monospace;
  color: rgba(255, 255, 255, 0.905);
  text-align: center;
  text-transform: uppercase;
}

.screen > .screen-content > .screen-user > .name {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "Cinzel", serif;
  text-shadow: 0 0 0.5rem white;
}

.screen > .screen-content > .screen-user > .subname {
  position: relative;
  font-size: 0.45rem;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.805);
  text-transform: uppercase;
  font-weight: 400;
}

.screen > .screen-content > .screen-user > .name:before,
.screen > .screen-content > .screen-user > .name:after {
  content: "";
  height: 4px;
  width: 4px;
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 2px;
}

.screen > .screen-content > .screen-user > .name:before {
  top: 42%;
  right: -0.7rem;
}

.screen > .screen-content > .screen-user > .name:after {
  top: 42%;
  left: -0.7rem;
}

.screen > .screen-content > .screen-user > .link {
  opacity: 0.8;
  font-size: 1.2rem;
  font-family: "Cinzel", serif;
  text-shadow: 0px 0px 0.5rem white;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-decoration: none;
}

.screen > .screen-content > .screen-user > .link:is(:hover, :focus) {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .screen {
    scale: 0.6;
    margin-bottom: 0rem;
  }
}
