@font-face {
  font-family: "Termina";
  src: local("Termina"),
    url("./assets/fonts/TerminaRegular.otf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Termina";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
  overflow-x: hidden !important;
 
}

body::-webkit-scrollbar{
  display: none !important;
}

code {
  font-family: "Termina";
}
