.gradient-transition {
  position: relative;
}

.gradient-transition:before,
.gradient-transition:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.gradient-transition.active:before {
  opacity: 1;
  animation: gradientFadeIn 1s forwards;
}

.gradient-transition.active:after {
  opacity: 0;
  animation: gradientFadeOut 1s forwards;
}

@keyframes gradientFadeIn {
  from {
    background: linear-gradient(90deg, rgba(0, 212, 255, 0.2) 0%, #08070a 0%);
  }
  to {
    background: linear-gradient(90deg, rgba(0, 212, 255, 0.3) 0%, #08070a 100%);
  }
}
@keyframes gradientFadeOut {
  from {
    background: linear-gradient(90deg, rgba(0, 212, 255, 0.3) 0%, #08070a 100%);
  }
  to {
    background: linear-gradient(90deg, rgba(0, 212, 255, 0) 0%, #08070a 100%);
  }
}
.gradient-text {
  background-image: linear-gradient(90deg, #ffffff8c 20%, rgb(2, 1, 5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
